.points{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.points_text{
    padding-left:24px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color:#FFFFFF;
}